.productItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  &:hover {
    background: #00000010;
  }

  ~ .productItem {
    margin-top: 10px;
  }

  &__image {
    width: 70px;
  }

  &__data {
    &--name {
      font-size: 1.75rem;
      font-weight: bold;
      text-transform: capitalize;
    }

    &--price {
      font-size: 1.5rem;
      margin-top: 10px;
    }
  }

  &__remove {
    background: none;
    border: none;
    cursor: pointer;
    padding: 20px 10px;
  }
}
