.filter {
  padding: 10px;
  margin-bottom: 20px;

  &__box {
    label {
      display: inline-block;
      width: 110px !important;
      border-radius: 6px;
      text-transform: capitalize;
      font-size: 12px;
      text-align: center;
      padding: 10px 15px;
      margin-right: 25px;
      color: #000;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }

      &.grass {
        background: #9bcc50;
      }
      &.poison {
        background: #b97fc9;
      }
      &.fire {
        background: #fd7d24;
      }
      &.flying {
        background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
      }
      &.water {
        background: #4592c4;
      }
      &.bug {
        background: #729f3f;
      }
      &.normal {
        background: #a4acaf;
      }
      &.electric {
        background: #eed535;
      }
      &.ground {
        background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
      }
      &.fairy {
        background: #fdb9e9;
      }
      &.fighting {
        background: #d56723;
      }
      &.psychic {
        background: #f366b9;
      }
      &.rock {
        background: #a38c21;
      }
      &.steel {
        background: #9eb7b8;
      }
      &.ice {
        background: #51c4e7;
      }
      &.ghost {
        background: #7b62a3;
      }
      &.dragon {
        background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
      }
      &.dark {
        background: #707070;
      }
      &.shadow {
        background: #000;
        color: #fff;
      }
      &.unknown {
        background: linear-gradient(180deg, #000 50%, #707070 50%);
        color: #fff;
      }

      input {
        display: none;
      }
    }
  }
}
