@import "../../stylesheets/variaveis";
.header {
  position: sticky;
  top: 0;
  padding: 10px 20px;
  background-color: #000;
  z-index: 999;
  margin-bottom: 50px;

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {
      flex-direction: column;
      row-gap: 10px;
    }

    .header-buttons {
      &__user {
        cursor: pointer;
        background: transparent;
      }

      &__minicart {
        position: relative;
        cursor: pointer;
        background: transparent;

        .minicart-badge {
          position: absolute;
          top: -5px;
          right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #ff0000;
          color: #fff;
          opacity: 1;
          visibility: visible;
          transition: 0.3s;
          font-size: 1rem;
          font-weight: bold;

          &.hidden {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
  }
  .backdrop {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 69px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 69px);
    background: #00000080;
    z-index: 99;
    transition: 0.3s;

    @media (max-width: 600px) {
      top: 160px;
    }

    &.backdropShow {
      opacity: 1;
      visibility: visible;
    }
  }
}
